:host {
  ::ng-deep {
    mat-dialog-container {
      padding: 5px !important;
    }
  }
  .mat-dialog-content {
    display: contents;
  }
}
mat-dialog-container {
  padding: 5px !important;
}
